.background{
	width: 100%;
	background: url("/images/bckg.jpeg");
  background-size: cover;
  padding-bottom: 100px;
}

.main-title{
  font-family: 'Showcard Gothic';
  font-size: 4em;
  margin: 30px;
}
#block1{
  text-align: center;
  color: white;
}
#blockLogin{
  background: white;
  color: rgb(75, 75, 75);
  width: 350px;
  margin: auto;
  padding: 2px 30px 30px 30px;
  border-radius: 5px;
}

#blockRegister{
  color: rgb(75, 75, 75);
  text-align: left;
  background: white;
  padding: 2px 30px 30px 30px;
  border-radius: 5px;
}

.logoFgi{
  padding: 10px;
}

.logoFgi img{
  width: 50%;
}

h5{
  font-weight: normal;
  font-size: 17px;
}

hr+p{
  width: 80%;
  margin: 20px auto;
  font-size: 14px;
}
.profile{
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn-content{
  display: flex;
  justify-content: center;
}
.btn-item1{
  background: white;
  border-radius: 3px 0px 0px 3px;
  display: inline-block;
  font-size: 14px;
  color: green;
  padding: 10px 25px;
}
.btn-item2{
  background: inherit;
  border-radius: 0px 3px 3px 0px;
  display: inline-block;
  font-size: 14px;
  color: white;
  padding: 10px 25px;
  border: 2px solid white;
}
.btn-submit{
  background: rgb(70,131,212);
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}



/*Steph Styling*/
.iconUser{
  padding: 35px 0 35px 0;
}

.btn.btn-outline-light.btn-md.connect{
	border-radius: 0px;
	padding: 5px 25px;
  color: #fff;
  background-color: #2b88be;
}
.btn.btn-outline-light.btn-md.connect.active{
  color: #2b88be;
  background-color: #fff;
}
.btn.btn-outline-light.btn-md.connect:hover{
	color: #2b88be;
	background-color: #fff;
}



.connectTitle{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #001a6317;
    padding: 10px;
}

// /* Ant modifie */
// .ant-steps-item-process.ant-steps-item-icon {
//     background: #6e983d !important;
// }

// .ant-steps-item-process.ant-steps-item-icon {
//     border-color: #056300;
// }

// .ant-steps-item-finish.ant-steps-item-icon {
//     background-color: #fff !important;
//     border-color: #056300;
// }

// .ant-steps-item-finish.ant-steps-item-icon > .ant-steps-icon {
//     color: #6e983d !important;
// }



.cover-spiner{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255,255,0.7);
    z-index: 9999;
}

.login_picture{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
